{% extends 'base.html.twig' %}

{% block title %}Hello WarehouseController!
{% endblock %}
{% block head %}
    <meta name='csrf-token' content="{{ csrf_token('csrf-token') }}">
{% endblock %}

{% block body %}
    <div class='wrapper'>
        <div {{ react_component('Products', { indexUrl: url('app_product_index', []), newUrl: url('app_product_new', []), editUrl: url('app_product_edit', {'id': 'id-placeholder'}) }) }}>
            Loading...
        </div>
    </div>

{% endblock %}
